---
import Home from '../layouts/home.astro';
const packages = await Astro.glob('./pack/*.md');
---

<Home>
    <ul>
        {packages.map((pack)=>
            <li>
                <a href={pack.url}>
                    {pack.frontmatter.title}
                </a>
            </li>
        )}
    </ul>
</Home>