---
import Home from '../layouts/home.astro';
const packages = await Astro.glob('./pack/*.md');
---

<Home>
    <div class='
    pb-32
    px-10 lg:px-32'>
        <h1 class='pt-10 text-blue-500 pb-2 border-b-2 text-3xl font-serif'>TriviaCard</h1>

        <div class='grid gap-3 pt-5
        md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4
        content-center justify-center'>
            {packages.map((pack)=>
                <a href={pack.url} class='p-0'>
                    <button class='px-6 font-semibold rounded-lg border border-slate-400 
                        py-10 w-full
                        bg-gray-50 text-left
                        transition-all ease-in-out delay-50 text-sm font-sans text-gray-800
                        hover:shadow-lg hover:shadow-blue-50 hover:border-blue-500 hover:text-blue-500'>
                            <p class='text-lg font-bold font-sans text-stone-600'>
                                {pack.frontmatter.title}
                            </p>
                            <p class='text-sm text-stone-400 font-normal'>
                                added by: {pack.frontmatter.addedBy} 
                            </p>
                    </button>
                </a>
            )}
        </div>
    </div>

    <div class='fixed bottom-0 left-0 p-5 px-10 text-stone-400'>
        <p>Note: possible choices are picked randomly from the other question in same the package</p>
        <p>Contributing to this project at 
            <a class='text-blue-500' target="_blank"
            href='https://github.com/sokmontrey/trivia-flash-card'>
                Github
            </a>
        </p>
    </div>

</Home>