---
---

<html lang='en'>
    <head>
        <title>Trivia Flash Card</title>
        <style>
            html{
                font-size:40px;
            }
            @media only screen and (min-width: 640px){
                html{
                    font-size: 38px
                }
            }
            @media only screen and (min-width: 768px){
                html{
                    font-size: 37px
                }
            }
            @media only screen and (min-width: 1024px){
                html{
                    font-size:16px; 
                }
            }
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>